<div
  class="w-full h-screen bg-hero bg-contain flex flex-col gap-y-4 items-center justify-center"
>
  <div class="flex flex-col w-1/5 bg-gray-50 p-6 rounded-sm gap-y-4">
    <!-- WELCOME & LOGO -->
    <div class="flex items-center justify-center gap-x-6">
      <span class="text-blue_black text-2xl font-semibold">WELCOME</span>
      <a href="/" class="flex">
        <img src="../../../../../assets/logo.png" alt="logo" class="w-8 h-8" />
        <div class="mx-2 -mt-1">
          <h2 class="text-primary text-base font-semibold">Market Name</h2>
          <h3 class="text-gray-400 text-xs">GROCERY / MARKET</h3>
        </div>
      </a>
    </div>
    <!-- FORM -->
    <div autocomplete="off" class="grid gap-y-4">
      <div class="w-full flex flex-col">
        <label for="password" class="text-blue_black font-bold text-sm"
          >Password</label
        >
        <input
          type="password"
          id="password"
          #txtPassword
          class="bg-white border-2 border-slate-300 p-1 rounded-sm outline-none focus:border-primary"
        />
      </div>
      <div class="w-full flex flex-col">
        <label for="passwordConfirm" class="text-blue_black font-bold text-sm"
          >Password Confirm</label
        >
        <input
          type="password"
          id="passwordConfirm"
          #txtPasswordConfirm
          class="bg-white border-2 border-slate-300 p-1 rounded-sm outline-none focus:border-primary"
        />
      </div>
      <button
        class="bg-primary text-white w-full p-1 rounded-sm"
        (click)="updatePassword(txtPassword.value, txtPasswordConfirm.value)"
      >
        Change Password
      </button>
    </div>
  </div>
</div>
