<div
  class="flex-1 flex flex-col gap-y-10 text-lg font-medium bg-gray-50 rounded-lg p-3 box-content"
>
  <h1 class="text-blue_black text-3xl font-bold">Privacy Policy</h1>
  <p>
    As Grocery Market, we care about the protection and privacy of the
    information of its users (“User”) who benefit from our services.
  </p>
  <p>
    This Privacy Policy (“Policy”) aims to inform users about how Grocery Market
    uses the information it collects, the responsibilities of users and Grocery
    Market's rules regarding the protection of confidential information.
  </p>
  <ul class="flex flex-col gap-y-8">
    <li class="flex flex-col gap-y-5">
      <h1 class="text-primary text-xl font-bold">1. Information We Collect</h1>
      <p>
        When you use the Market services, certain information is collected for
        processes such as registering your account, providing you
        products/services you request and conducting payment processes.
      </p>
      <p>
        Users provide their information to Market when they want to place an
        order, convey their requests, suggestions and complaints to Market or
        for other reasons. In this case, certain information of Users such as
        name-surname, payment information, request, suggestion and complaint
        information is collected.
      </p>
    </li>
    <li class="flex flex-col gap-y-5">
      <h1 class="text-primary text-xl font-bold">
        2. Purposes of Use of Information
      </h1>
      <p>
        User information that Market collects is mainly used for the following
        purposes:
      </p>
      <ul class="flex flex-col gap-y-5 list-disc list-inside">
        <li>To provide services to users,</li>
        <li>
          To communicate with users; to conclude the requests and complaints,
        </li>
        <li>
          To conduct financial and accounting processes related to payments,
        </li>
        <li>
          To promote our services; conducting advertising and campaign
          processes,
        </li>
        <li>
          To develop/improve our products and services in accordance with user
          feedbacks,
        </li>
        <li>
          To personalize our services according to users' preferences, usage
          habits and interests,
        </li>
        <li>
          To identify and fix system problems regarding platforms we provide
          service; conducting information security processes,
        </li>
        <li>
          Measuring user experiences through identification
          technologies/cookies, improving the performance of the platforms we
          provide service.
        </li>
      </ul>
      <p>
        The purposes set out in this section refers to the general use of
        information collected about users. For detailed information about
        Getir’s purposes of processing customer personal data and other issues
        related to the processing of personal data, please review
        <a href="/" class="text-primary font-bold hover:underline">
          Customer Personal Info Protection Policy
        </a>
      </p>
    </li>
    <li class="flex flex-col gap-y-5">
      <h1 class="text-primary text-xl font-bold">
        3. Information Sharing with Third Parties
      </h1>
      <p>
        The information you provide to Market may be shared with third parties
        in order to achieve the above-mentioned purposes (for example, your
        information may need to be shared with service providers in order to get
        technical service). In this context, your information may be shared with
        our business partners and service providers which support us within the
        scope of the supply of goods/services. However, when we are asked to
        share your information in order to fulfill our legal obligations, your
        information may also be shared with authorized persons, institutions and
        organizations.
      </p>
      <p>
        The information provided by the Users will not be transferred to third
        parties, except for the purposes specified in the texts provided to the
        users and when necessary to provide the service.
      </p>
    </li>
    <li class="flex flex-col gap-y-5">
      <h1 class="text-primary text-xl font-bold">
        4. Storing and Protecting Your Information
      </h1>
      <p>
        Your information is retained for the time required by our purpose to
        collect information. If a special period is stipulated in the
        legislation for us to store your information, this period is respected.
        Market takes the necessary technical and organizational measures to
        protect the systems and databases where your information is stored
        against data security threats (cyberattack, hash, etc.).
      </p>
      <p>
        The payment infrastructure is provided by MasterCard and BKM Express.
        Market maintains the first six and last two digits of the credit card in
        its systems. In order to match the existing MasterPass and BKM Express
        memberships and enable the Users to use their cards as a payment tool in
        Market, a membership query is made via MasterPass and BKM Express with
        the mobile phone number registered and if the User has a membership, the
        User is informed and directed to add the relevant card.
      </p>
      <p>
        The User acknowledges that he/she is fully responsible for the security,
        storage and prevention of learning by third parties of the system access
        tools (username, password, etc.) used in order to benefit from the
        services offered by Market.
      </p>
    </li>
    <li class="flex flex-col gap-y-5">
      <h1 class="text-primary text-xl font-bold">
        5. Keeping Your Information Accurate and Up To Date
      </h1>
      <p>
        It is the User’s responsibility to keep the information provided to
        Market accurate and up to date. The information requested from you must
        be conveyed accurately and updated if there is any change. You may
        update the information you share with Market at any time by calling
        Market customer service.
      </p>
      <p>
        When you provide information to Market on behalf of someone else, you
        undertake that you have the right to share this information with Market
        / you are authorized to do so.
      </p>
    </li>
    <li class="flex flex-col gap-y-5">
      <h1 class="text-primary text-xl font-bold">
        6. Redirecting to Third Parties
      </h1>
      <p>
        Market may redirect to other links that is not operated by Getir. During
        your visit to any of these links, you are subject to the privacy
        policies and terms of use of the third party that you visit. Market is
        not responsible for the policies and practices of these third parties.
      </p>
    </li>
    <li class="flex flex-col gap-y-5">
      <h1 class="text-primary text-xl font-bold">
        7. Changes to Application, Website and This Policy
      </h1>
      <p>
        Market, reserves the right to change, suspend or stop all provided
        products and services, information, images and other items without prior
        notice.
      </p>
      <p>
        Market reserves the right to make changes and updates to this Policy. It
        is the User's responsibility to follow the current version of the
        Policy.
      </p>
    </li>
    <li class="flex flex-col gap-y-5">
      <h1 class="text-primary text-xl font-bold">8. Responsibility</h1>
      <p>
        Market is not responsible for any direct or indirect damages and
        expenses that may occur as a result of any errors, interruptions,
        delays, viruses, line and/or system failures that may occur during the
        providing of our services electronically.
      </p>
    </li>
  </ul>
  <p class="text-sm text-gray-700 italic font-extrabold">
    Last Update Date: 18/08/2020
  </p>
</div>
