<div class="flex flex-col justify-center gap-y-28">
  <!-- Hero Section -->
  <div class="w-full h-[520px] bg-hero bg-contain">
    <div
      class="container mx-auto w-full h-full flex items-center justify-between"
    >
      <div class="w-1/2 flex flex-col gap-y-4">
        <h1 class="text-6xl font-black">Don't miss our daily amazing deals!</h1>
        <p class="text-gray-700 text-md font-bold">
          Save up 60% in your first order.
        </p>
        <a
          href="/Category/0"
          class="p-3 bg-primary hover:bg-emerald-600 text-white rounded-sm flex items-center justify-between max-w-fit"
        >
          Shop Now!
          <ng-icon name="heroArrowSmallRight" size="17"></ng-icon>
        </a>
      </div>
      <img
        class="h-full object-cover"
        src="https://i.hizliresim.com/a9siefi.png"
        alt="hero"
      />
    </div>
  </div>
  <!-- Explore Categories -->
  <div class="container mx-auto">
    <app-explore-categories></app-explore-categories>
  </div>
  <!-- Offers -->
  <div class="container mx-auto flex items-center gap-x-20">
    <div
      class="w-1/2 h-72 flex gap-x-2"
      style="background-color: {{ item.bgColor }};"
      *ngFor="let item of offers"
    >
      <div class="flex-1 p-7 flex flex-col gap-y-3">
        <span
          class="max-w-fit font-semibold text-white p-1 text-sm rounded-sm"
          style="background-color: {{ item.labelColor }};"
        >
          {{ item.label }}
        </span>
        <h1 class="text-blue_black text-2xl font-bold">{{ item.title }}</h1>
        <p class="grow text-lg">{{ item.description }}</p>
        <a
          routerLink="/category/All"
          class="p-3 bg-primary hover:bg-emerald-600 text-white rounded-sm flex items-center justify-between max-w-fit"
        >
          Shop Now!
          <ng-icon name="heroArrowSmallRight" size="17"></ng-icon>
        </a>
      </div>
      <img src="{{ item.img }}" alt="{{ item.title }}" />
    </div>
  </div>

  <!-- Top Sells Products -->
  <div class="container mx-auto">
    <app-top-sells-products></app-top-sells-products>
  </div>
</div>
