<h2 mat-dialog-title>Create New User</h2>
<mat-dialog-content class="mat-typography">
  <div class="grid col-span-1 gap-3">
    <mat-form-field appearance="fill" class="">
      <mat-label>Fullname</mat-label>
      <input matInput #txtFullname reqiured />
    </mat-form-field>
    <mat-form-field appearance="fill" class="">
      <mat-label>Username</mat-label>
      <input matInput #txtUsername reqiured />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" #txtEmail reqiured />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput type="phone" #txtPhone reqiured />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput #txtPassword />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    (click)="create(txtFullname, txtEmail, txtUsername, txtPhone, txtPassword)"
  >
    Create User
  </button>
</mat-dialog-actions>
