<div
  class="flex-1 flex flex-col gap-y-10 text-lg font-medium bg-gray-50 rounded-lg p-3 box-content"
>
  <h1 class="text-blue_black text-3xl font-bold">Frequently Asked Questions</h1>
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary font-bold text-xl underline">
      What is grocery market?
    </h2>
    <p>
      We provide fresh and organic products in the fastest and most hygienic way
      with a wide range of payment methods.
    </p>
  </div>
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary font-bold text-xl underline">
      How can I sign up for Market?
    </h2>
    <p>You can register by creating an account with your email account.</p>
  </div>
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary font-bold text-xl underline">
      How is the Grocery Market used?
    </h2>
    <p>After registering on our site:</p>
    <ul class="flex flex-col gap-y-5 list-disc list-inside">
      <li>Create your profile,</li>
      <li>Add your address information,</li>
      <li>Add the products you want to buy to your cart,</li>
      <li>
        Choose your address, payment method and complete the shopping process.
      </li>
    </ul>
  </div>
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary font-bold text-xl underline">How can I pay?</h2>
    <p>
      Payments are made in three ways: online credit & debit card, mobile
      payment and cash on delivery.
    </p>
    <p>You can pay at the door with cash or pos device.</p>
    <p>
      For online payment, your debit or credit card that you have defined in the
      system only once is sufficient. Nobody, including Getir, can see your
      credit card information. Your card information is protected by
      Mastercard's payment infrastructure, Masterpass or BKM (Interbank Card
      Center).
    </p>
    <p>You can use BKM Express or Paycell for mobile payment.</p>
    <p>
      When you confirm your order, the order amount is automatically deducted
      from your card.
    </p>
  </div>
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary font-bold text-xl underline">
      I wanted to pay but my limit is insufficient or my card was not accepted.
      What should I do?
    </h2>
    <p>Don't worry. You can pay by adding a new debit or credit card.</p>
  </div>
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary font-bold text-xl underline">
      Is my personal information safe?
    </h2>
    <p>
      We process your personal data in accordance with the Personal Data
      Protection Law No. 6698, the secondary legislation on the protection of
      personal data, and the decisions of the Personal Data Protection Board
      (collectively the "KVK Legislation"). We act in accordance with the
      principles of the KVK Legislation in the processing of personal data and
      take all necessary technical and administrative measures to ensure the
      security of personal data.
    </p>
    <p>
      For detailed information about the measures we take to protect your
      personal data and the rules we comply with when processing personal data,
      we also refer to our
      <a href="/" class="text-primary font-semibold hover:underline">
        Personal Data Processing and Protection Policy
      </a>
      ; We recommend that you take a look at our
      <a href="/" class="text-primary font-semibold hover:underline">
        Customer Personal Data Clarification Text
      </a>
      for the processes in which your personal data is processed and for
      detailed information about them.
    </p>
  </div>
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary font-bold text-xl underline">
      What should I do if I encounter a problem while placing an order or using
      the site?
    </h2>
    <p>
      You can reach our customer service 24/7 by calling (###)-###-#### or send
      an e-mail to info@mail.com.
    </p>
  </div>
</div>
