<div
  class="flex-1 flex flex-col gap-y-10 text-lg font-medium bg-gray-50 rounded-lg p-3 box-content"
>
  <h1 class="text-blue_black text-3xl font-bold">Shipping Information</h1>
  <p>
    Thank you for shopping at our grocery market! We offer delivery and pickup
    options to make it easy for you to get the items you need.
  </p>
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary font-bold text-xl underline">DELIVERY</h2>
    <p>
      We offer delivery to select zip codes within a certain radius of our
      warehouse. To see if delivery is available to your area, please enter your
      zip code at checkout.
    </p>
    <p>
      Delivery fees are calculated based on the distance from our warehouse and
      the size of your order.
    </p>
    <p>
      Our delivery team is committed to getting your order to you as quickly as
      possible. Most orders are delivered within 30 minutes of placing your
      order.
    </p>
  </div>
  <div class="flex flex-col gap-y-5">
    <h2 class="text-primary font-bold text-xl underline">RETURNS</h2>
    <p>
      If you are not satisfied with your purchase, please
      <a href="/" class="text-primary font-bold hover:underline">
        contact us
      </a>
      within 14 days of receiving your order to process a return or exchange.
      All returned items must be in their original packaging and in the same
      condition as when they were received.
    </p>
    <p>
      If you have any questions about our shipping options or need assistance
      with your order, please don't hesitate to reach out to our customer
      service team. We are here to help!
    </p>
  </div>
  <p class="">Thank you for choosing our grocery market!</p>
</div>
