<div class="w-full flex items-center justify-center">
  <div class="relative w-full py-3 px-5 m-2 text-sm" #divToPrint>
    <button id="printer" class="absolute top-2 right-2" (click)="print()">
      <ng-icon name="heroPrinter" size="24"></ng-icon>
    </button>
    <div class="flex flex-col" id="bill">
      <div class="flex justify-center py-2">
        <img src="../../../assets/logo.png" alt="logo" />
      </div>
      <div>
        <h1 class="font-extrabold text-lg pb-2">
          Order: {{ order.orderNumber }}
        </h1>
        <ul class="space-y-3 border-y-2 border-dashed border-gray-800 !py-2">
          <li class="font-bold">{{ order.fullname }}</li>
          <li>{{ order.address }}</li>
          <li>{{ order.phoneNumber }}</li>
          <li>{{ order.deliveryTime }}</li>
        </ul>
      </div>
      <div class="w-full space-y-4 py-2">
        <table class="table-auto w-full text-left">
          <thead>
            <tr>
              <th>Quantity</th>
              <th>Name</th>
              <th class="text-right">Price</th>
              <th class="text-right">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.basketItems">
              <td>{{ item.quantity }}</td>
              <td>{{ item.name }}</td>
              <td class="text-right">{{ item.price | currency : "USD" }}</td>
              <td class="text-right">
                {{ item.price * item.quantity | currency : "USD" }}
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="text-right">
          <li>
            Total Amount :
            {{
              (order.totalPrice - 5 >= 8
                ? order.totalPrice
                : order.totalPrice - 5
              ) | currency : "USD"
            }}
          </li>
          <li>
            Transfer :
            {{
              (order.totalPrice - 5 >= 8 ? "0.00" : "5.00") | currency : "USD"
            }}
          </li>
          <li>Tax: (included)</li>
          <li>Total: {{ order.totalPrice | currency : "USD" }}</li>
        </ul>
      </div>
      <div class="border-y-2 border-dashed border-gray-800 py-2">
        <div><b>Description: </b>{{ order.description }}</div>
        <div><b>Payment method:</b> {{ order.paymentOption }}</div>
      </div>
      <div class="text-center py-2">Grocery Market Support: 0212 456 78 89</div>
    </div>
  </div>
</div>
