<h2 mat-dialog-title>Create New Role</h2>
<mat-dialog-content class="mat-typography">
  <div class="grid col-span-1 gap-3">
    <mat-form-field appearance="fill" class="">
      <mat-label>Name</mat-label>
      <input matInput #txtName reqiured />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    (click)="create(txtName)"
  >
    Create
  </button>
</mat-dialog-actions>
