<div
  class="flex-1 flex flex-col gap-y-10 text-lg font-medium bg-gray-50 rounded-lg p-3 box-content"
>
  <h1 class="text-blue_black text-3xl font-bold">Payment Information</h1>
  <p>
    Thank you for shopping at our grocery market! We offer the following payment
    options:
  </p>
  <ul class="flex flex-col gap-y-5">
    <li>
      <b>Credit Card:</b> We accept Visa, Mastercard, and American Express.
      Please enter your card information at checkout.
    </li>
    <li>
      <b>Debit Card:</b> We accept debit cards with the Visa or Mastercard logo.
      Please enter your card information at checkout.
    </li>
    <li>
      <b>Mobile Payment:</b> We accept mobile payments through BKM Express and
      Paycell. Simply select your preferred mobile payment option at checkout.
    </li>
    <li>
      <b>Cash on Delivery (COD):</b> You can pay in cash when your order is
      delivered. Please have the exact amount ready.
    </li>
  </ul>
  <p>
    If you have any questions or concerns about payment, please don't hesitate
    to
    <a href="/" class="text-primary font-bold hover:underline"> contact us. </a>
  </p>
  <p class="">Thank you for choosing our grocery market!</p>
</div>
