<div class="container mx-auto space-y-6 text-justify text-xl" #scrollTarget>
  <h1 class="text-blue_black text-3xl font-bold">About Us</h1>
  <p>
    At Grocery Market, we understand that grocery shopping can be a
    time-consuming and overwhelming task, especially with busy schedules, long
    lines, and crowded stores. That's why we've created an online grocery market
    that makes shopping for your essentials a breeze.
  </p>
  <p>
    With just a few clicks, you can browse our wide selection of fresh produce,
    meat, dairy, pantry staples, and more, all at competitive prices. We take
    pride in offering the highest quality products and strive to make sure every
    item in your order meets your expectations.
  </p>
  <p>
    We're more than just an online grocery store, we're a team of grocery and
    technology experts who are dedicated to making grocery shopping easier and
    more convenient for you. We're constantly working to improve our platform
    and add new features that make your shopping experience even better.
  </p>
  <p>
    Whether you're a busy parent, a senior with limited mobility, or simply
    prefer the convenience of shopping from your couch, Grocery Market is here
    for you. We offer fast and reliable delivery to make sure you get your
    groceries when you need them.
  </p>
  <p>
    At Grocery Market, we're committed to providing you with the best possible
    shopping experience, from easy ordering to fast delivery. If you have any
    questions or concerns, our customer support team is always here to help.
  </p>
  <p>
    Thank you for choosing Grocery Market for your grocery needs. We're honored
    to be a part of your daily life and look forward to serving you for all your
    grocery needs.
  </p>
</div>
