<div
  class="flex-1 flex flex-col gap-y-10 text-lg font-medium bg-gray-50 rounded-lg p-3 box-content"
>
  <h1 class="text-blue_black text-3xl font-bold">Refund Policy</h1>
  <p>
    At Grocery Market, we are committed to providing our customers with the
    highest quality products and services. However, if you are not satisfied
    with your purchase, we offer the following refund policy:
  </p>
  <ul class="flex flex-col gap-y-5 list-disc list-inside">
    <li>
      If the product you received is defective or damaged, you may request a
      refund within 7 days of receiving the product. To request a refund, please
      <a href="/" class="text-primary font-bold hover:underline">
        contact us
      </a>
      and provide proof of the defect or damage, such as a photo or video.
    </li>
    <li>
      If you are not satisfied with the quality of the product you received, you
      may request a refund within 14 days of receiving the product. To request a
      refund, please
      <a href="/" class="text-primary font-bold hover:underline">
        contact us
      </a>
      and provide a reason for your dissatisfaction.
    </li>
    <li>
      If you have made a mistake while placing your order or if you have changed
      your mind about your purchase, you may request a refund within 24 hours of
      placing your order. To request a refund, please
      <a href="/" class="text-primary font-bold hover:underline">
        contact us
      </a>
      and provide your order number.
    </li>
  </ul>
  <p>
    Please note that in all cases, the product must be returned in its original
    packaging and in the same condition as when it was received. The refund will
    be issued to the same payment method used to make the purchase.
  </p>
  <p>
    This refund policy is in accordance with Turkey's consumer protection laws.
    If you have any questions or concerns about our refund policy, please don't
    hesitate to
    <a href="/" class="text-primary font-bold hover:underline"> contact us. </a>
  </p>
  <p class="">Thank you for choosing our grocery market!</p>
</div>
