<div class="container mx-auto">
  <h1 class="text-blue_black text-3xl font-semibold mb-2">Promotions</h1>
  <mat-accordion class="space-y-4">
    <mat-expansion-panel *ngFor="let promotion of promotions">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-lg font-bold text-primary">
          {{ promotion.title }}
        </mat-panel-title>
        <mat-panel-description>
          {{ promotion.validity }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ promotion.content }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
